<form>
  <p class="h5 text-center mb-4">Registrar orden de trabajo</p>
  <div class="row">
    <div class="col">
      <div class="md-form">
        <i class="fa fa-user prefix grey-text"></i>
        <input type="text" class="form-control" mdbActive>
        <label>Modelo </label>
      </div>
    </div>
    <div class="col">
      <div class="md-form">
        <i class="fa fa-id-card-o prefix grey-text"></i>
        <input type="text" class="form-control" mdbActive>
        <label>Patente </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="md-form">
        <select class="form-control">
          <option>Combustible</option>
        </select>
      </div>
    </div>
    <div class="col">
      <div class="md-form">
        <select class="form-control">
          <option>Cliente</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="md-form">
        <i class="fa fa-phone prefix grey-text"></i>
        <input type="text" class="form-control" mdbActive>
        <label>VIN</label>
      </div>
    </div>
    <div class="col">
      <div class="md-form">
        <i class="fa fa-envelope prefix grey-text"></i>
        <input type="text" class="form-control" mdbActive>
        <label>Kilometros</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="md-form">
        <i class="fa fa-phone prefix grey-text"></i>
        <input type="text" class="form-control" mdbActive>
        <label>Auxilio</label>
      </div>
    </div>
    <div class="col">
      <div class="md-form">
        <i class="fa fa-envelope prefix grey-text"></i>
        <input type="text" class="form-control" mdbActive>
        <label>Estereo</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="md-form">
        <textarea mdbActive type="text" id="form76" class="md-textarea"></textarea>
        <label for="form76">Solicitud de trabajo</label>
      </div>
    </div>
    <div class="col">
      <div class="md-form">
        <textarea mdbActive type="text" id="form76" class="md-textarea"></textarea>
        <label for="form76">Descripcion de trabajo</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="md-form">
        <i class="fa fa-phone prefix grey-text"></i>
        <input type="date" class="form-control" mdbActive>
        <label>Fecha Ingreso</label>
      </div>
    </div>
    <div class="col">
      <div class="md-form">
        <i class="fa fa-envelope prefix grey-text"></i>
        <input type="text" class="form-control" mdbActive disabled>
        <label>Fecha Salida</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="md-form">
        <select class="form-control">
          <option>Recibido por</option>
        </select>
      </div>
    </div>
    <div class="col">
      <div class="md-form">
        <select class="form-control" disabled>
          <option>Estado</option>
        </select>
      </div>
    </div>
  </div>
  <div class="text-center">
    <button class="btn btn-unique waves-light btn-block" mdbRippleRadius>Guardar <i class="fa fa-floppy-o ml-1"></i></button>
  </div>
</form>
