<section class="container-fluid background">
  <div class="card-body">

    <h2 class="feature-title text-center mb-5 mt-4 font-bold">
      <strong>Bienvenido </strong>
    </h2>
    <hr>

    <div class="row mt-5">
      <div class="col-md-6 ml-lg-5 ml-md-3 features-small">
        <div class="row pb-3">
          <div class="col-2 col-lg-1">
            <i class="fa fa-bank indigo-text fa-lg"></i>
          </div>
          <div class="col-10">
            <h4 class="feature-title">
              <strong>Seguridad </strong>
            </h4>
            <p class="dark-grey-text"> Mantenga sus datos todo el tiempo online y con toda la seguridad de la empresa mas grande en el area tecnologia.
            </p>
          </div>
        </div>

        <div class="row pb-3">
          <div class="col-2 col-lg-1">
            <i class="fa fa-desktop deep-purple-text fa-lg"></i>
          </div>
          <div class="col-10">
            <h4 class="feature-title">
              <strong>Tecnologia </strong>
            </h4>
            <p class="dark-grey-text"> Enlace IT sigue los estandares  y desarrolla sus aplicaciones bajo tecnologia con soporte de Google.
            </p>
          </div>
        </div>

        <div class="row pb-4">
          <div class="col-2 col-lg-1">
            <i class="fa fa-money purple-text fa-lg"></i>
          </div>
          <div class="col-10">
            <h4 class="feature-title">
              <strong>Finanzas </strong>
            </h4>
            <p class="dark-grey-text"> Perder el miedo a implementar nuevas tecnologias ayudaria a tu emprendimiento a ganar mas dinero automatizando
              y controlando su negocio de manera mas efectiva y desde cualquier punto del mundo.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-5">
        <div class="row pb-4 d-flex justify-content-center mb-4">
          <h4 class="mt-3 mr-4">
            <strong>Ingresar </strong>
          </h4>

        </div>

        <div class="md-form">
          <i class="fa fa-user prefix grey-text"></i>
          <input type="text" class="form-control" [(ngModel)]="email" mdbActive>
          <label>Email</label>
        </div>

        <div class="md-form">
            <i class="fa fa-lock prefix grey-text"></i>
            <input type="password" class="form-control" [(ngModel)]="password" mdbActive>
            <label>Contraseña</label>
          </div>

        <div class="text-center">
          <button class="btn btn-indigo btn-rounded mt-3 waves-effect waves-light" mdbrippleradius="" (click)="login()">Ingresar </button>
        </div>
      </div>
    </div>
  </div>
</section>
