<p class="h5 text-center mb-4">Registrar orden de trabajo</p>
<div class="row">
  <div class="col">
    <div class="md-form">
      <i class="fa fa-car prefix grey-text"></i>
      <input type="text" class="form-control" [(ngModel)]="order.model" mdbActive>
      <label>Modelo </label>
    </div>
  </div>
  <div class="col">
    <div class="md-form">
      <i class="fa fa-asterisk prefix grey-text"></i>
      <input type="text" class="form-control" [(ngModel)]="order.plate" mdbActive>
      <label>Patente </label>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="md-form">
      <select class="form-control" [(ngModel)]="order.fuel">
        <option value="-">Combustible</option>
      </select>
    </div>
  </div>
  <div class="col">
    <div class="md-form">
      <select class="form-control" [(ngModel)]="order.client">
        <option>Cliente</option>
      </select>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="md-form">
      <i class="fa fa-asterisk prefix grey-text"></i>
      <input type="text" class="form-control" [(ngModel)]="order.chassis" mdbActive>
      <label>VIN</label>
    </div>
  </div>
  <div class="col">
    <div class="md-form">
      <i class="fa fa-asterisk prefix grey-text"></i>
      <input type="text" class="form-control" [(ngModel)]="order.kilometers" mdbActive>
      <label>Kilometros</label>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="md-form">
      <i class="fa fa-asterisk prefix grey-text"></i>
      <input type="text" class="form-control" [(ngModel)]="order.aux" mdbActive>
      <label>Auxilio</label>
    </div>
  </div>
  <div class="col">
    <div class="md-form">
      <i class="fa fa-asterisk prefix grey-text"></i>
      <input type="text" class="form-control" [(ngModel)]="order.stereo" mdbActive>
      <label>Estereo</label>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="md-form">
      <textarea mdbActive type="text" id="form76" class="md-textarea" [(ngModel)]="order.request"></textarea>
      <label for="form76">Solicitud de trabajo</label>
    </div>
  </div>
  <div class="col">
    <div class="md-form">
      <textarea mdbActive type="text" id="form76" class="md-textarea" [(ngModel)]="order.response"></textarea>
      <label for="form76">Descripcion de trabajo</label>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="md-form">
      <i class="fa fa-calendar prefix grey-text"></i>
      <input type="date" class="form-control" [(ngModel)]="order.date" mdbActive>
      <label>Fecha Ingreso</label>
    </div>
  </div>
  <div class="col">
    <div class="md-form">
      <i class="fa fa-calendar prefix grey-text"></i>
      <input type="text" class="form-control" [(ngModel)]="order.outDate" mdbActive disabled>
      <label>Fecha Salida</label>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="md-form">
      <select class="form-control" [(ngModel)]="order.employee">
        <option value="-">Recibido por</option>
      </select>
    </div>
  </div>
  <div class="col">
    <div class="md-form">
      <select class="form-control" [(ngModel)]="order.state" disabled>
        <option value="-">Estado</option>
      </select>
    </div>
  </div>
</div>
<div class="text-center">
  <button class="btn btn-unique waves-light btn-block" (click)="update(order)" mdbRippleRadius>Guardar
    <i class="fa fa-floppy-o ml-1"></i>
  </button>
</div>