<page size="a4" id="renderthis">
    <div class="row">
        <div class="col-12 col-sm-6 col-lg-6">LOGO INFO EMPRESA</div>
        <div class="col-6 col-lg-6">DATOS ORDEN</div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12">
            <h3>Datos Cliente</h3>
        </div>
        <div class="col-6 col-sm-4">NOMBRE {{order.name}}</div>
        <div class="col-6 col-sm-4">LOCALIDAD</div>
    </div>
    <div class="row">
        <div class="col-6 col-sm-4">DNI {{order.client}}</div>
        <div class="col-6 col-sm-4">DOMICILIO </div>
    </div>
    <div class="row">
        <div class="col-6 col-sm-4">TELEFONO</div>
        <div class="col-6 col-sm-4">EMAIL</div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12">
            <h3>Datos Vehiculo</h3>
        </div>
        <div class="col-6 col-sm-4">PATENTE {{order.plate}}</div>
        <div class="col-6 col-sm-4">COMBUSTIBLE {{order.fuel}}</div>
    </div>
    <div class="row">
        <div class="col-6 col-sm-4">ESTEREO {{order.stereo}}</div>
        <div class="col-6 col-sm-4">AUXILIO {{order.aux}}</div>
    </div>
    <div class="row">
        <div class="col-6 col-sm-4">KILOMETROS {{order.kilometers}}</div>
        <div class="col-6 col-sm-4">MODELO {{order.model}}</div>
    </div>
    <div class="row">
        <div class="col-6 col-sm-4">
            <div class="col-12 col-sm-12">
                <h3>SOLICITUD</h3>
                <p>{{order.request}}</p>
            </div>
        </div>
        <div class="col-6 col-sm-4">
            <div class="col-12 col-sm-12">
                <h3>REALIZADO</h3>
                <p>{{order.response}}</p>
            </div>
            <div class="col-12 col-sm-12">
                <h3>MATERIALES</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 Col-sm-4">
            <div class="col-12 col-sm-12">
                <h3>OBSERVACIONES</h3>
            </div>
        </div>
        <div class="col-6 col-sm-4">
            <div class="col-12 col-sm-12">
                <h3>FIRMA Y ACLARACION</h3>
            </div>
        </div>
    </div>

</page>